.tmpl {
    background-image: url('layer.png');
}

    .tmpl .img-0 {
        left: 760px;
        top: 3px;
        width: 236px;
        height: 236px;
        border-radius: 120px;
    }

    .tmpl .img-1 {
        left: 415px;
        top: 303px;
        width: 276px;
        height: 207px;
    }

    .tmpl .txt-0 {
        text-align: center;
        width: 380px;
        height: 280px;
        top: 82px;
        left: 12px;
        color: #fff;
        line-height: 34px;
    }
